body{
    background-color: beige;
}
h1{
    font-size: 150px;
   margin-left: 10px;
   margin-bottom: 10px;
}
small{
    
    font-size: 20px;
}
h2{
    font-size: 80px;
    text-align: center;
}
footer{
    margin-top: 250px;
}